<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="19ae9811-c83e-4a5b-a51a-3df2befa8745" Language="1033" Manufacturer="maybe Cognitect, Inc. one day" Name="Clojure for Windows" UpgradeCode="72156cf6-3ae4-4f58-b4b7-6b9de9a6c576" Version="!(wix.RuntimeVersion)">
        <Package Compressed="yes" InstallerVersion="200" InstallScope="perUser" Description="A proof-of-concept installer for a Clojure launcher using deps.exe" Platform="x64"/>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ClojureRoot" Name="clojure">
                <Directory Id="LauncherRoot" Name="launcher">
                    <Directory Id="LauncherVersion" Name="!(wix.LauncherVersion)">
                        <Component Id="ClojureLauncher" Guid="9cb9acee-06af-4e12-af89-d5ef3c3e992e">
                            <File Id="clojure.exe" DiskId="1" Source="deps.exe" Name="clojure.exe" KeyPath="yes"/>
                            <File Id="clj.exe" DiskId="1" Source="deps.exe" Name="clj.exe" CompanionFile="clojure.exe"/>
                            <Environment Id="LauncherPATHEntry" Name="PATH" Value="[LauncherVersion]" Action="set" Part="last" />
                            <RemoveFolder Id='LauncherVersion' On='uninstall' />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="RuntimeRoot" Name="runtime">
                    <Directory Id="RuntimeVersion" Name="!(wix.RuntimeVersion)">
                        <Component Id="ClojureRuntime" Guid="9e1e4abe-a75f-4b2b-a9a7-22708040d096">
                            <File Id="tools.jar" DiskId="1" Source="clojure-tools-!(wix.RuntimeVersion).jar" KeyPath="yes"/>
                            <File Id="exec.jar" DiskId="1" Source="exec.jar" CompanionFile="tools.jar"/>
                            <File Id="deps.edn" DiskId="1" Source="deps.edn" CompanionFile="tools.jar"/>
                            <File Id="tools.edn" DiskId="1" Source="tools.edn" CompanionFile="tools.jar"/>
                            <File Id="exampledeps.edn" DiskId="1" Source="example-deps.edn" CompanionFile="tools.jar"/>
                            <Environment Id="ToolsDir" Name="DEPS_CLJ_TOOLS_DIR" Value="[RuntimeVersion]" Action="set" Part="all" />
                            <RemoveFolder Id="RuntimeVersion" On="uninstall" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="ProductFeature" Level="1" Title="Complete">
            <ComponentRef Id="ClojureLauncher" />
            <ComponentRef Id="ClojureRuntime" />
        </Feature>
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
        <SetProperty Id="TARGETDIR" Value="[LocalAppDataFolder]" Sequence="first" Before="CostFinalize">NOT Installed AND NOT TARGETDIR</SetProperty>
    </Product>
</Wix>