<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="b59b219e-132c-4b65-933a-5ad21f919ac7" Language="1033" Manufacturer="maybe Cognitect, Inc. one day" Name="Clojure Launcher for Windows" UpgradeCode="a3556d7b-19b4-4b3d-bc41-f971237776b4" Version="!(wix.LauncherVersion)">
        <Package Compressed="yes" InstallerVersion="200" InstallScope="perUser" Description="A proof-of-concept installer for a Clojure launcher using deps.exe" Platform="x64"/>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ClojureRoot" Name="clojure">
                <Directory Id="LauncherRoot" Name="launcher">
                    <Directory Id="LauncherVersion" Name="!(wix.LauncherVersion)">
                        <Component Id="ClojureLauncher" Guid="09c6f2ad-2069-4635-9735-56f73941bbaf">
                            <File Id="clojure.exe" DiskId="1" Source="deps.exe" Name="clojure.exe" KeyPath="yes"/>
                            <File Id="clj.exe" DiskId="1" Source="deps.exe" Name="clj.exe" CompanionFile="clojure.exe"/>
                            <Environment Id="LauncherPATHEntry" Name="PATH" Value="[LauncherVersion]" Action="set" Part="last" />
                            <RemoveFolder Id='VersionedLauncherDir' On='uninstall' />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="ProductFeature" Level="1" Title="Complete">
            <ComponentRef Id="ClojureLauncher" />
        </Feature>
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
        <SetProperty Id="TARGETDIR" Value="[LocalAppDataFolder]" Sequence="first" Before="CostFinalize">NOT Installed AND NOT TARGETDIR</SetProperty>
    </Product>
</Wix>