<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="3b14547f-3e37-402d-bc86-45dd284efa5f" Language="1033" Manufacturer="maybe Cognitect, Inc. one day" Name="Clojure for Windows" UpgradeCode="b646d586-af14-40b1-8ade-d8c71fa2c0d2" Version="!(wix.RuntimeVersion)">
        <Package Compressed="yes" InstallerVersion="200" InstallScope="perUser" Description="A proof-of-concept installer for Clojure" Platform="x64"/>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ClojureRoot" Name="clojure">
                <Directory Id="RuntimeRoot" Name="runtime">
                    <Directory Id="RuntimeVersion" Name="!(wix.RuntimeVersion)">
                        <Component Id="ClojureRuntime" Guid="9e1e4abe-a75f-4b2b-a9a7-22708040d096">
                            <File Id="tools.jar" DiskId="1" Source="clojure-tools-!(wix.RuntimeVersion).jar" KeyPath="yes"/>
                            <File Id="exec.jar" DiskId="1" Source="exec.jar" CompanionFile="tools.jar"/>
                            <File Id="deps.edn" DiskId="1" Source="deps.edn" CompanionFile="tools.jar"/>
                            <File Id="tools.edn" DiskId="1" Source="tools.edn" CompanionFile="tools.jar"/>
                            <File Id="exampledeps.edn" DiskId="1" Source="example-deps.edn" CompanionFile="tools.jar"/>
                            <Environment Id="ToolsDir" Name="DEPS_CLJ_TOOLS_DIR" Value="[RuntimeVersion]" Action="set" Part="all" />
                            <RemoveFolder Id="VersionedRuntimeDir" On="uninstall" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="ProductFeature" Level="1" Title="Complete">
            <ComponentRef Id="ClojureRuntime" />
        </Feature>
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
        <SetProperty Id="TARGETDIR" Value="[LocalAppDataFolder]" Sequence="first" Before="CostFinalize">NOT Installed AND NOT TARGETDIR</SetProperty>
    </Product>
</Wix>